#projects{
  background-color:dodgerblue;
  padding: 1vh 1vw 3vh;
}

#title{
  font-size: 7vh !important;
  height: 20vh;
  padding: 1vh 1vw;
  text-align: center;
}

#projects-section{
  background-color: lightblue;
  display: flex;
  flex-direction: column;
  align-items: center;
}
