  <section id="hero">
    <div id="hero-div-titulo">
      <p id="hero-titulo">
        Desenvolvedora Front-Ent
      </p>
    </div>

    <div id="hero-div-img">
      <img src="assets/hero.jpeg" alt="">
    </div>

    <div id="hero-txt-desc" >
      <p id="hero-txt-desc1">
        Olá!
      </p>
      <p id="hero-txt-desc2">
        Sou Ingrid Oguro, desenvolvedora front-end com 2 anos de experiência com Angular, com foco em aplicações web responsivas.
      </p>
      <p>Angular · TypeScript · Bootstrap · HTML · CSS · Git</p>
    </div>

    <div id="hero-links-div">
      <button id="hero-link-linkedin" href="">
        LinkedIn
      </button>
      <button id="hero-links-github">
        GitHub
      </button>
    </div>

  </section>
