<!-- EXPERIÊNCIA -->
  <section id="xp">
    <div id="xp-div-titulo">
      <p id="xp-titulo">
        Experiência  Profissional
      </p>
    </div>
    <div id="xp-div">
      <div class="xp-card">
        <p class="xp-card-date">07/2024 - 10/2025</p>
        <p class="xp-card-role">Desenvolvedora Full Stack</p>
        <p class="xp-card-company">MXM Sistemas</p>
        <p class="xp-card-activities">
          Desenvolvimento de SPA’s e componentes Angular responsivos e acessíveis.
          <br>
          Integração com APIs REST usando TypeScript.
          <br>
          Colaboração em projetos de migração de aplicações monolíticas para Angular.
          <br>
          Participação em processos ágeis, garantindo entregas consistentes e de qualidade.</p>
      </div>

      <div class="xp-card">
        <p class="xp-card-date">10/2022 - 11/2023</p>
        <p class="xp-card-role">Assistente de Desenvolvimento de Projetos</p>
        <p class="xp-card-company">ETAPA</p>
        <p class="xp-card-activities">
          Criação de dashboards e visualizações web com foco em UX.
          <br>
          Automação e integração com APIs RESTful.
        </p>
      </div>

      <div class="xp-card">
        <p class="xp-card-date">06/2021 - 10/2022</p>
        <p class="xp-card-role">Jovem Aprendiz no arco administrativo </p>
        <p class="xp-card-company">Empresa</p>
        <p class="xp-card-activities">Criação de dashboards e relatórios para o setor  acadêmico utilizando Excel e Python.</p>
      </div>
    </div>

  </section>
