<header>
  <app-navbar></app-navbar>
</header>
<body>
  <app-hero></app-hero>


  <!-- EXPERIÊNCIA -->
  <section id="xp">
    <div id="xp-div-titulo">
      <p id="xp-titulo">
        Experiência  Profissional
      </p>
    </div>
    <div id="xp-div">
      <div class="xp-card">
        <p class="xp-card-date">jan/2026 - dez/2028</p>
        <p class="xp-card-role">Cargo</p>
        <p class="xp-card-company">Empresa</p>
        <p class="xp-card-activities">Atividades</p>
      </div>
      <div class="xp-card">
        <p class="xp-card-date">Data</p>
        <p class="xp-card-role">Cargo</p>
        <p class="xp-card-company">Empresa</p>
        <p class="xp-card-activities">Atividades</p>
      </div>
      <div class="xp-card">
        <p class="xp-card-date">Data</p>
        <p class="xp-card-role">Cargo</p>
        <p class="xp-card-company">Empresa</p>
        <p class="xp-card-activities">Atividades</p>
      </div>
    </div>

  </section>

  <section id="projects">
    Projetos
  </section>
  <section id="contact">
    Contato
  </section>
</body>
<footer>

</footer>
